.page {
  padding: 200px 80px;
}

.HeroSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 300px;
}

.titleSection {
  animation: title 0.4s ease-out;
}

@keyframes title {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.mainTitle1 {
  font-size: 150px;
  font-weight: bold;
}

.profileImg {
  border-radius: 50%;
  animation: img 0.4s ease-out;
}

@keyframes img {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.keywordSection {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  white-space: nowrap;
  width: 100vw;
  padding: 10px 0 14px 0;
  background-color: #161513;
}

.trackLeft {
  display: inline-block;
  width: max-content;
  animation: moveleft 25s linear infinite;
}

.trackRight {
  margin-top: 20px;
  display: inline-block;
  width: max-content;
  animation: moveright 25s linear infinite;
}

.trackLeft span,
.trackRight span {
  margin-right: 40px;
  color: #f2f1ef;
  font-size: 40px;
  font-weight: bold;
  border: 4px solid #ec4931;
  border-radius: 100px;
  padding: 4px 16px;
}

@keyframes moveleft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes moveright {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.profileSummary {
  top: 150px;
  width: 1000px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.profileSummaryHeading {
  display: flex;
  justify-content: space-between;
}

.profileSummaryTitle {
  font-size: 50px;
  font-weight: bold;
}

.profileSummaryDes {
  font-size: 25px;
  font-weight: bold;
}

.profileSummaryBoxes {
  display: flex;
  justify-content: center;
}

.profileSummaryBox1 {
  flex: 1;
  border: 2px solid black;
  padding: 20px;
}

.profileSummaryBox2 {
  flex: 1;
  background-color: black;
  border: 1px solid black;
  padding: 20px;
}

.profileSummaryBox2 p {
  color: white;
}

.boxTitle {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.boxDes {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

.skillSectionHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.skillSectionTitle {
  font-size: 40px;
  font-weight: bold;
}

.skillSectionDes {
  font-size: 18px;
  color: gray;
  font-weight: bold;
}

.skillBoxes {
  width: 1000px;
  margin: 50px auto 120px auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.skillBox {
  position: relative;
  border: 2px solid black;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.textBox {
  flex-direction: column;
  padding: 20px;
}

.skillBox:hover .label {
  color: #ec4931 !important;
}

.label {
  font-size: 20px;
  font-weight: bold;
  color: gray;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  padding: 0 12px;
  background-color: #f2f1ef;
  transition: all 0.2s ease-in;
}

.educationSectionHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
