.page {
  padding: 200px 80px;
}

.HeroSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainTitle1 {
  font-size: 150px;
  font-weight: bold;
}

.profileImg {
  border-radius: 50%;
}
