.page {
  padding: 160px 80px;
}

.titleSection {
  animation: title 0.4s ease-out;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

@keyframes title {
  from {
    transform: translateX(-3%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.des {
  margin-top: 10px;
  font-size: 25px;
  color: rgb(184, 183, 183);
}

.projects {
  margin-top: 30px;
  display: flex;
  gap: 35px;
}

.project {
  flex: 1;
  padding: 30px 20px;
  background-color: white;
  border-radius: 16px;
  animation: project 0.8s ease-in;
}

@keyframes project {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.projectTitle {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 18px;
}

.projectDes {
  margin: 0;
  font-size: 18px;
  color: gray;
  padding-bottom: 30px;
}

.projectMainImg {
  width: 100%;
  text-align: center;
}
